In [93]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from ipywidgets import interact

In [94]:
data=pd.read_csv("agri_data.csv")
data

        N   P   K  temperature   humidity        ph    rainfall   label
0      90  42  43    20.879744  82.002744  6.502985  202.935536    rice
1      85  58  41    21.770462  80.319644  7.038096  226.655537    rice
2      60  55  44    23.004459  82.320763  7.840207  263.964248    rice
3      74  35  40    26.491096  80.158363  6.980401  242.864034    rice
4      78  42  42    20.130175  81.604873  7.628473  262.717340    rice
...   ...  ..  ..          ...        ...       ...         ...     ...
2195  107  34  32    26.774637  66.413269  6.780064  177.774507  coffee
2196   99  15  27    27.417112  56.636362  6.086922  127.924610  coffee
2197  118  33  30    24.131797  67.225123  6.362608  173.322839  coffee
2198  117  32  34    26.272418  52.127394  6.758793  127.175293  coffee
2199  104  18  30    23.603016  60.396475  6.779833  140.937041  coffee

[2200 rows x 8 columns]

In [95]:
data.label.value_counts()

coconut        100
pomegranate    100
banana         100
papaya         100
maize          100
chickpea       100
mango          100
mothbeans      100
watermelon     100
cotton         100
pigeonpeas     100
kidneybeans    100
lentil         100
rice           100
coffee         100
grapes         100
orange         100
blackgram      100
muskmelon      100
mungbean       100
jute           100
apple          100
Name: label, dtype: int64

In [96]:
data.shape

(2200, 8)

In [97]:
data.columns

Index(['N', 'P', 'K', 'temperature', 'humidity', 'ph', 'rainfall', 'label'], dtype='object')

In [98]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2200 entries, 0 to 2199
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   N            2200 non-null   int64
 1   P            2200 non-null   int64
 2   K            2200 non-null   int64
 3   temperature  2200 non-null   float64
 4   humidity     2200 non-null   float64
 5   ph           2200 non-null   float64
 6   rainfall     2200 non-null   float64
 7   label        2200 non-null   object
dtypes: float64(4), int64(3), object(1)
memory usage: 137.6+ KB

In [99]:
data.isnull().sum()

N              0
P              0
K              0
temperature    0
humidity       0
ph             0
rainfall       0
label          0
dtype: int64

In [100]:
print("Avg ratio of nitrogen : {0:,.2f}".format(data['N'].mean()))
print('Avg ration of phosphurus : {0:.2f} ' .format(data['P'].mean()))
print("Avg ration of potassium : {0:,.2f}".format(data['K'].mean()))
print("Avg ratio of Temprature : {0:,.2f}".format(data['temperature'].mean()))
print("Avg ratio of Humidity : {0:,.2f}".format(data['humidity'].mean()))
print("Avg ratio of ph : {0:,.2f}".format(data['ph'].mean()))
print("Avg ratio of rainfall : {0:,.2f}".format(data['rainfall'].mean()))

Avg ratio of nitrogen : 50.55
Avg ration of phosphurus : 53.36
Avg ration of potassium : 48.15
Avg ratio of Temprature : 25.62
Avg ratio of Humidity : 71.48
Avg ratio of ph : 6.47
Avg ratio of rainfall : 103.46

In [101]:
@interact
def summary (crops=list(data['label'].value_counts().index)):
    x=data[data['label']==crops]
    print("-----------------------------------------------------------")
    print("statistics for Nitrogen")
    print("Min req of Nitrogen : ", x['N'].min())
    print("avg req of N : ", x['N'].mean())
    print("max req of N : ", x['N'].max())
    print("-----------------------------------------------------------")
    print("statistics of P")
    print("min req of P : ",x['P'].min())
    print("avg req of p : ", x['P'].mean())
    print("max req of P : ", x['P'].max())
    print("-----------------------------------------------------------")
    print("statistics of K")
    print("min req of K : ", x['K'].min())
    print("avg req of K : ", x['K'].mean())
    print("max req of K : ", x['K'].max())
    print("-----------------------------------------------------------")
    print("statistics for Temprature")
    print("min req Temprature : ", x["temperature"].min())
    print("avg temp req : ", x["temperature"].mean())
    print("max tem req : ", x["temperature"].max())
    print("-----------------------------------------------------------")
    print("statistics for humidity")
    print("min humidity req : ",x['humidity'].min())
    print("avg humidity req ; ", x["humidity"].mean())
    print("mx humidity req : ",x["humidity"].max())
    print("----------------------------------------------------------")
    print("statistics of ph")
    print("min req ph : ", x["ph"].min())
    print("avg req ph : ", x['ph'].mean())
    print("max req ph : ", x['ph'].max())
    print("----------------------------------------------------------")
    print("statistics of rainfall")
    print("min req rainfall : ", x["rainfall"].min())
    print("avg req rainfall : ", x['rainfall'].mean())
    print("max req rainfall : ", x['rainfall'].max())

interactive(children=(Dropdown(description='crops', options=('coconut', 'pomegranate', 'banana', 'papaya', 'ma…

In [102]:
data['label'].value_counts()

coconut        100
pomegranate    100
banana         100
papaya         100
maize          100
chickpea       100
mango          100
mothbeans      100
watermelon     100
cotton         100
pigeonpeas     100
kidneybeans    100
lentil         100
rice           100
coffee         100
grapes         100
orange         100
blackgram      100
muskmelon      100
mungbean       100
jute           100
apple          100
Name: label, dtype: int64

In [103]:
@interact
def compare (condition=['N','P','K','temperature','ph','humidity','rainfall']):
    print("avg valu for : ", condition, "is {0:,.2f}".format(data[condition].mean()))
    print("rice :{0:.2f} ".format(data[(data['label']=='rice')][condition].mean()))
    print("orange : {0:.2f} ".format(data[data['label']=='orange'][condition].mean()))
    print("apple : {0:2f} ".format(data[data['label']=='apple'][condition].mean()))
    print('jute : {0:.2f}'.format(data[data['label']=='jute'][condition].mean()))
    print("mungbean : {0:.2f}".format(data[data['label']=='mungbean'][condition].mean()))
    print("grapes : {0:.2f} ".format(data[data['label']=='grapes'][condition].mean()))
    print("coffee : {0:.2f}".format(data[data['label']=='coffee'][condition].mean()))
    print("blackgram : {0:.2f}".format(data[data['label']=='blackgram'][condition].mean()))
    print("muskmelon : {0:.2f}".format(data[data['label']=='muskmelon'][condition].mean()))
    print("kidneybeans : {0:.2f}".format(data[data['label']=='kidneybeans'][condition].mean()))
    print("lentil : {0:.2f}".format(data[data['label']=='lentil'][condition].mean()))
    print("pigeonpeas : {0:.2f}".format(data[data['label']=='pigeonpeas'][condition].mean()))
    print("cotton : {0:.2f}".format(data[data['label']=='cotton'][condition].mean()))
    print("watermelon : {0:.2f}".format(data[data['label']=='watermelon'][condition].mean()))
    print(" mothbeans: 0:.2f".format(data[data['label']=='mothbeans'][condition].mean()))
    print(" mango : {0:.2f}".format(data[data['label']=='mango'][condition].mean()))

interactive(children=(Dropdown(description='condition', options=('N', 'P', 'K', 'temperature', 'ph', 'humidity…

In [113]:
@interact
def compare(condition=['N','P','K','ph','temperature','humidity','rainfall']):
    print("crop which req greater than avg", condition,'\n')
    print(data[data[condition]>data[condition].mean()]['label'].unique())
    print("-----------------------------------------------------")
    print("crop which is less than avg", condition,'\n')
    print(data[data[condition]<data[condition].mean()]['label'].unique())

interactive(children=(Dropdown(description='condition', options=('N', 'P', 'K', 'ph', 'temperature', 'humidity…

In [135]:
print("Some interesting patterns")
print("-----------------------------------------")
print("crop which req very high ratio of N", data[data['N']>120]['label'].unique())
print("crop which req very less ratio of N", data[data['N']<50]['label'].unique())
print("crop which is very high temp",data[data['temperature']>40]['label'].unique())
print("crop which is very less temp",data[data['temperature']<25]['label'].unique())
print("crop which is very less rainfall",data[data['rainfall']>150]['label'].unique())
print("crop which is very high rainfall",data[data['rainfall']<150]['label'].unique())

Some interesting patterns
-----------------------------------------
crop which req very high ratio of N ['cotton']
crop which req very less ratio of N ['chickpea' 'kidneybeans' 'pigeonpeas' 'mothbeans' 'mungbean' 'blackgram'
 'lentil' 'pomegranate' 'mango' 'grapes' 'apple' 'orange' 'papaya'
 'coconut']
crop which is very high temp ['grapes' 'papaya']
crop which is very less temp ['rice' 'maize' 'chickpea' 'kidneybeans' 'pigeonpeas' 'mothbeans' 'lentil'
 'pomegranate' 'grapes' 'watermelon' 'apple' 'orange' 'papaya' 'cotton'
 'jute' 'coffee']
crop which is very less rainfall ['rice' 'pigeonpeas' 'papaya' 'coconut' 'jute' 'coffee']
crop which is very high rainfall ['maize' 'chickpea' 'kidneybeans' 'pigeonpeas' 'mothbeans' 'mungbean'
 'blackgram' 'lentil' 'pomegranate' 'banana' 'mango' 'grapes' 'watermelon'
 'muskmelon' 'apple' 'orange' 'papaya' 'coconut' 'cotton' 'coffee']